*{
    box-sizing: border-box;
    margin: 0;
}

.page-wrapper{
    background-color: #F0F4EF;
    width: 80vw;
    margin: 0 auto;
    /*text-align: center;*/

    /*by default, this is the text color*/
    color: #172B3A;
}

/*fonts*/

/*damion*/
@font-face {
    font-family: damion;
    src: url(src/Damion/Damion-Regular.ttf);
}

/*dancing script*/
@font-face {
    font-family: dancing;
    src: url(src/Dancing_Script/DancingScript-VariableFont_wght.ttf);
}


header{
    background-color: #344966;
    color: #F0F4EF;

    padding: 2%;
    text-align: center;
}

header h1{
    font: calc(2px + 4vw) damion, sans-serif, sans;
}

h2{
    font: calc(2px + 3vw) damion, sans-serif, sans;
}

/*creates a two column layout */
.two-col{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

#nav-main-col{
    display: flex;
    flex-direction: row;

    width: 100%;
}

nav{
    background-color: #BFCC94;
    width: 25%;
}

nav ul{
    padding: 0;
    list-style: none;

    margin: 4%;
}

nav ul li{
    background-color: #B4CDED;
    border: 2px solid #344966;
    text-align: center;

    /*auto - centers list items*/
    margin: 10% auto;
    padding: 4%;
}

nav ul li a{
    text-decoration: none;
    color: #344966;
    font: calc(2px + 1.4vw) damion, sans-serif, sans;
}

main{
    width: 75%;
    /*padding: 3%;*/
    text-align: center;
}

main img{
    max-width: 30vw;
    padding: 3%;
}

main p{
    padding: 2%;
}

/*calculator section*/
.inner-col{
    display: flex;
    flex-direction: column;
    margin: 2%;
}

.inner-col input{
    width: 15vw;
    border: 2px dashed #344966;
    background-color: #BFCC94;

}

.inner-col button{
    width: 8vw;
    margin: 2%;
    padding: 2%;

    background-color: #344966;
    color: #F0F4EF;
    font: calc(2px + 1.8vw) damion, sans-serif, sans;
    border: 2px dashed #BFCC94;
}

.inner-col button:hover{
    background-color: #213347;
}

label{
    font: calc(2px + 1.4vw) damion, sans-serif, sans;
}

footer{
    background-color: #344966;
    color: #F0F4EF;
    text-align: center;

    padding: 1%;
}

footer a{
     color: #F0F4EF;
}


